.dim-background {
    background-color: rgba(0,0,0,.30);
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:99;
}

.add-window {
    background-color: white;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    border-radius: 5px;
    width: 500px;
    position:absolute;
    left:50%;
    margin-left:-250px;
    margin-top:150px;
    z-index: 100;
    overflow: hidden;
}

.top {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    position:relative;
    top:0px;
}


input[type="text"] {
    display: block;
    width: 80%;
    height: 5%;
    font-size: 0.9em;
    position: relative;
}

.name-input {
    margin:30px auto;
}

.button-holder {
    width:100%;
    background-color: pink;
    display:flex;
    margin-top: 100px;
}

.save {
    background-color: lightgreen;
    border:none;
    border-radius:5px;
    padding: 10px 20px;
    font-size: 15px;
    color:black;
    cursor: pointer;
    align-self: right;

    position: absolute;
    bottom: 0;
    right:30px;
    margin-bottom:20px;
}

.add-dose {
    background-color: royalblue;
    border:none;
    border-radius:5px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;

    position:absolute;

    bottom: 0;
    left: 30px;
    margin-bottom:20px;
}