.add-meds {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 100px;
    height: 40px;
    border:none;
    border-radius:5px;
    background-color: #002c80;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.add-meds:active {
    background-color: #002366;
} 

